/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--text-black);
  font-size: 18px;
  line-height: 1.5;
}

a:hover {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

li {
  list-style-type: none;
}

label {
  display: block;
}

input {
  width: 100%;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.object-contain {
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.heading1 {
  font-size: 24px;
}

.heading2 {
  font-size: 16px;
}

.heading3 {
  font-size: 13px;
}

.heading4 {
  font-size: 32px;
  line-height: 1.2;
}

.heading5 {
  font-size: 18px;
  line-height: 1.3;
}

.heading6 {
  font-size: 12px;
  line-height: 1;
}

.desc1 {
  font-size: 13px;
  line-height: 18px;
}

.desc2 {
  font-size: 12px;
}

.desc3 {
  font-size: 10px;
}

.desc4 {
  font-size: 11px;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* Default CSS Code */

body {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  background: #fff;
  color: #fff;
}

/* Header Area */

.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__btn img {
  width: 46px;
  height: 46px;
  object-fit: contain;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  display: block;
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/* Header Area */

/* About Area */

.about-area {
  position: relative;
  padding-top: 165px;
  padding-bottom: 50px;
  background: #ffaec9;
}

.about-area::after {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background: #99f3ff;
  position: absolute;
  bottom: -2px;
  left: 0;
  clip-path: ellipse(63% 80% at 50% 129%);
  z-index: 1;
}

.about-area .container:first-of-type {
  padding: 0;
}

.about-area .container,
.available-area {
  position: relative;
  z-index: 50;
}

.about__hero-img img {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  margin-top: 50px;
}

.about__box {
  position: relative;
  width: fit-content;
}

.about__box-layer {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border: 3px solid #720000;
  background: #fc85ff;
  z-index: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.about__box-content {
  position: relative;
  background: #fff;
  padding: 10px;
  border: 3px solid #720000;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  z-index: 10;
}

.about__box-heading {
  border: 3px solid #720000;
  background: #fc85ff;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.about__box-heading h2 {
  text-transform: uppercase;
  line-height: 1;
}

.about__box-descs {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.about__box-descs p {
  font-weight: 500;
  color: #720000;
  margin-bottom: 25px;
}

.about__box-descs p:last-of-type {
  margin-bottom: 0;
}

.about__box-poweredby {
  margin-top: 25px;
}

.about__box-poweredby p {
  margin-bottom: 0;
}

.about__box-poweredby .auther {
  font-weight: 600;
  margin-top: 15px;
}

.about__select {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
  position: relative;
  top: -16px;
  z-index: 20;
}

.about__select-text {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff9810 !important;
}

.about__select-btn img {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.about__select-btn h3 {
  font-size: 13px;
  font-weight: 900;
  color: #fc85ff;
  letter-spacing: -0.05px;
}

.custom__text--shadow {
  color: #fc85ff;
  font-weight: 900;
  -webkit-text-stroke: 1px #720000;
  text-stroke: 1px #720000;
  text-shadow: 2.5px 0px 0px rgba(114, 0, 0, 1);
}

.custom__text--shadow-md {
  text-shadow: 4.5px 0px 0px rgba(114, 0, 0, 1);
}

.about__select-nav {
  margin-top: 40px;
}

.about__select-nav img {
  width: 45px;
  height: auto;
  object-fit: contain;
}

.about__select-nav-area {
  max-width: 265px;
  flex: 1;
  padding-bottom: 10px;
}

.about__select-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__select-nav-area h5 {
  color: #ff9810;
  text-align: center;
  margin-top: 7px;
}

.about__select-btn--tobler h3 {
  color: #bc5c50;
}

.pepto-loading-layer,
.tobler-loading-layer {
  display: none;
  position: absolute;
  width: 80px !important;
  height: auto !important;
  top: 47px;
  left: 62%;
  z-index: 99;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.tobler-loading-layer {
  left: 37%;
}

.about__select-loading {
  display: none;
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.about__select-loading h4 {
  text-align: left;
  font-weight: 800;
  color: #720000;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 3px;
  letter-spacing: 0.5px;
}

.about__select-loading-bar {
  width: 100%;
  height: 18px;
  background: #ffd1b8;
  border: 3px solid #720000;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.about__select-loading-bar-value {
  position: relative;
  height: 100%;
}

.about__select-loading-bar-value-main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 20;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

/* .about__select-loading-bar-value--pepto {
  width: 50%;
}

.about__select-loading-bar-value--tobler {
  width: 20%;
} */

.about__select-loading-bar-value--pepto .about__select-loading-bar-value-main {
  background: #fc85ff;
}

.about__select-loading-bar-value--tobler .about__select-loading-bar-value-main {
  background: #bc5c50;
}

.about__select-loading-bar-value-border {
  position: absolute;
  top: 50%;
  left: 0px;
  width: calc(100% + 3px);
  height: calc(100% + 4px);
  background: #720000;
  z-index: 10;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.about__select--loading .about__select-btn {
  position: relative;
}

.about__select--loading .pepto-loading-layer,
.about__select--loading .tobler-loading-layer {
  display: block;
}

.about__select--loading .about__select-loading {
  display: block;
}

.available-area {
  margin-top: 25px;
}

.available .container:first-of-type {
  padding-left: 20px;
}

.available__main {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

.available__tools {
  max-width: 450px;
  width: 100%;
  padding-right: 50px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
}

.tokenomics {
  position: relative;
  top: 38px;
}

.tokenomics__heading {
  width: 100%;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.tokenomics__heading img {
  object-fit: contain;
}

.about__box--yellow {
  width: 100%;
}

.about__box--yellow .about__box-content {
  background: #ffc036;
}

.about__box--yellow .about__box-layer {
  background: #ff9810;
}

.tokenomics__input-area {
  width: 100%;
  height: 44px;
  display: flex;
  gap: 14px;
  padding: 5px;
  background: #fff;
  border: 3px solid #720000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.input__style {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  padding-left: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  -webkit-text-stroke: 1px #720000;
  text-stroke: 1px #720000;
  text-shadow: 2.5px 0px 0px rgba(114, 0, 0, 1);
  color: #ffc036;
  letter-spacing: 1.5px;
}

.input__btn {
  font-weight: 900;
  background: #ffc036;
  color: #720000;
  border: 3px solid #720000;
  padding: 0px 7px;
  font-size: 14px;
  line-height: 0.7;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.tokenomics h3 {
  font-size: 16px;
  color: #ffc036;
  text-align: center;
  margin-top: 10px;
}

.about__box--yellow .about__box-content {
  padding: 6px;
}

/* About Area */

/* Laboratory Area */

.laboratory {
  position: relative;
  background: #99f3ff;
  color: #720000;
  padding-bottom: 250px;
}

.laboratory::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: 6;
  background: url(../images/sky-curve.svg);
  background-size: contain;
  background-position: center center;
}

.laboratory-clouds {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.laboratory__items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  row-gap: 15px;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}

.laboratory__item {
  position: relative;
}

.laboratory__item img {
  object-fit: contain;
}

.laboratory__item-content {
  position: absolute;
  bottom: 12px;
  left: 18px;
}

.laboratory__item-content h3 {
  font-weight: 600;
  letter-spacing: 0;
}

.laboratory__item-content p {
  font-weight: 500;
}

.laboratory__hero {
  position: absolute;
  width: 100%;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 999;
}

.about__box--purple {
  width: 100%;
}

.laboratory__hero h3 {
  text-align: center;
}

.laboratory__hero .about__box-content {
  position: relative;
  padding: 10px 20px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.laboratory__heading-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  background: #ac8aff;
  border: 3px solid #720000;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.laboratory__hero .about__box-layer {
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}

.about__box--purple .about__box-layer {
  background: #ac8aff;
}

.laboratory__hero img {
  width: 220px;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9;
}

/* Laboratory Area */

/* Faq Area */

.faq-area {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(68, 172, 253);
  background: linear-gradient(
    180deg,
    rgba(68, 172, 253, 1) 0%,
    rgba(80, 197, 255, 1) 25%
  );
}

.basic-accordion {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.basic-accordion__item {
  position: relative;
  color: #720000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.basic-accordion__item .accordion__question-content,
.basic-accordion__item .accordion__answer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
  border: 3px solid #720000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.basic-accordion__item .accordion__answer-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  padding-top: 86px;
}

.accordion__question-content h3 {
  color: #720000;
  font-weight: 700;
  letter-spacing: 0;
}

.accordion__answer-content p {
  color: #720000;
  font-weight: 600;
  text-transform: uppercase;
}

.basic-accordion .about__box--yellow .about__box-content {
  padding: 8px;
}

.accordion__arrow-area {
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffc033;
  border: 3px solid #720000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.accordion__arrow {
  width: 16px;
  height: auto;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.accordion__question.active .accordion__arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.basic-accordion__item .accordion__answer {
  width: 85%;
  margin-left: auto;
  position: relative;
  margin-top: -77px;
  z-index: 5;
}

.accordion__answer {
  display: none;
}

/* Faq Area */

/* Footer Area */
.footer-area {
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-area::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url("../images/white-curve.svg");
  background-repeat: repeat-x;
}

.footer-area .container {
  position: relative;
  z-index: 50;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}

.footer__logo a {
  width: 100px;
}

.footer__logo p {
  color: #005bb5;
  font-weight: 600;
}

.footer__content {
  width: 100%;
  max-width: 300px;
}

.footer__content p {
  color: #7caad1;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__content p:last-of-type {
  margin-bottom: 0;
}

/* Footer Area */
